.container {
    display: flex;
}

#side-image {
    flex: 1;
}

#main-body {
    flex: 2;
}

#main-text, .footnote, p {
    margin: 50px;
}

form {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

li {
    margin: 25px;
}