*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body {
    display: flex;
}

.main {
    flex: 4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(images/plant.avif);
    background-size: cover;
    flex: 3;
}

.logo-container {
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-pic {
    height: 95%;
}

.odin-text {
    color: white;
    font-size: 8rem;
}

.sidebar-footnote {
    text-align: center;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0%;
}

.background-image {
    position: static;
    height: 100%;
}

button {
    background-color: #596D48;
}